# Tipo de banco de dados: "sqlite" ou "mysql"
DB_TYPE=sqlite

# Configuração do SQLite (usado se DB_TYPE=sqlite)
SQLITE_PATH=licenciamento_anatel.db

# Configurações do MySQL (usado se DB_TYPE=mysql)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=


# Filtro de Estado (UF) para extração (ex: AC, AL, AP ou ALL para todos)
STATE_FILTER=AC

# Configuração do Loop
RESUME_PROGRESS=True
SLEEP_BETWEEN_STATES=10


